.signup-container {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 500px;
}

.signup-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-items {
    margin-bottom: 1rem !important;
}

.w-100 {
    width: 100%;
}

.signup-Paper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.signup-Paper h4 {
    font-family: "Roboto Light", sans-serif;
    margin-bottom: 1rem;
    overflow: hidden;
}

.signup-form-Logo {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.Signup-link-parent {
    font-family: "Roboto Light", sans-serif;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.Signup-link-parent a {
    font-family: "Roboto", sans-serif;
    color: hsl(167, 37%, 44%);
}

.nameDiv {
    display: flex;
    width: 100%;
    padding: 0;
}

.lastName {
    width: 100%;
    margin: 0.2rem !important;
}
